<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular Basics</title>
	<link rel="stylesheet" href="styles/main.css">
</head>
<!-- Body tag will contain a directive, which will hold the name of the app. This tells Angular where to bootstrap (start) our whishingList app. Make sure the string in the module method matches the NG app -->
<body ng-app="wishList">

	<div ng-controller="mainCtrl" class="list">
		<h1>Tavo's Wish List</h1>
		<div class="add">
			<a href="" ng-click="addWishes()">+ Add a New Task</a>
		</div>
		<div ng-repeat="wish in wishes">
			<input ng-model="whish.completed" type="checkbox"/>
			<label ng-hide="editing" class="edited"> {{ wish.name }} </label>
			<input ng-change="wish.edited = true " ng-blur="editing = false;" ng-show="editing" ng-model="wish.name" class="style-label" type="text"/>
		

			<div class="actions">
				<a ng-class="{'colorClass': editing}" ng-click=" editing = !editing"href="">edit</a>	
				<a href="" ng-click="helloConsole()">save</a>
				<a href="" ng-click="deleteWish(wish)" class="delete edited">delete</a>		
			</div>
		</div> <!-- End of ng-repeat -->
	</div>
	
	<script src="vendor/angular.js" type="text/javascript"></script>
	<script src="scripts/app.js" type="text/javascript"></script>
	<script src="scripts/controllers/main.js" type="text/javascript"></script>
	<script src="scripts/services/data.js" type="text/javascript"></script>
</body>
</html>

